
<section class="top-banner port-inner-banner top-inner-baner">
  {{ content.field_top_banner }}
</section>
<section class="contentSec sec text-center">
  <div class="wrapperInner">
    <a href="/adv-our-portfolio" class="retrn-ink">&lt; Go back to portfolio</a>
    <div class="text-content">
      <h2>{{ content.title }}</h2>
      {{ content.field_detail_description }}
      <a href="{{ content.field_external_url }}" class="btn1Inv" target="_blank">VISIT THE SITE</a>
    </div>
  </div>
</section>
<section class="portDetail midl_banner">
  <div class="propDetailFullSec clear">
    <div class="portDetailBG">
      {{ content.field_portfolio_background_image }}
    </div>
    <div class="white-shadow"></div>

    <div class="iMac">
      {{ content.field_portfolio_middle_image }}
    </div>
  </div>
  <div class="portDetailsFlip">
    {{ content.field_middle_theme_section }}
  </div>
</section>
<section class="portDetail1 port_bottom_block clear">
  <aside class="port_block_img">
    {{ content.field_bottom_block_images }}
  </aside>
</section>
