{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set serviceLink %}
  {{ content.field_services_url }}
{% endset %}
{% set service_target %}
  {{ content.field_url_target }}
{% endset %}

{% block paragraph %}
  {% block content %}
    <li class="three-col servProdItem">
      <span class="sp-img">
      {{ content.field_services_image }}
      </span>
      <div class="sp-head">
        <a href="{{ serviceLink|striptags|trim }}" target="{{ service_target|striptags|trim }}">{{ content.field_services_title }}</a>
      </div>
      {{ content.field_services_descrip }}
    </li>
  {% endblock %}
{% endblock paragraph %}
