{% if links|length > 0 %}
  <ul class="mobile-main-menu">
    {% for link in links %}
      {% if link.subMenu|length > 0 %}
        <li class="has-child parent">
      {% else %}
        <li class="has-child">
      {% endif %}
        {{ link.link }}
        {% if link.subMenu|length > 0 %}
          <div class="sub-menu-wrap">
            <ul class="mobile-sub-menu">
              {% for subMenuLink in link.subMenu %}
                <li>{{ subMenuLink.link }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <div class="mobile-menu-foot"><h5>{{ webpro_menu_footer_text }}</h5><a href="/contact" class="con-btn">Contact us</a>
    <div class="moile-social">
      <a href="{{ webpro_facebook_link }}" class="fa fa-facebook"></a>
      <a href="{{ webpro_linkedin_link }}" class="fa fa-linkedin"></a>
    </div>
  </div>
{% endif %}
